[submodule "dependencies/cpp-terminal"]
	path = dependencies/cpp-terminal
	url = https://github.com/jupyter-xeus/cpp-terminal.git
[submodule "dependencies/googletest"]
	path = dependencies/googletest
	url = https://github.com/google/googletest.git
[submodule "dependencies/folf-namespace"]
	path = dependencies/folf-namespace
	url = https://github.com/FOLF-projects/folf-namespace.git
